@import './common/colors';
@import './mixins/text-styles';

.comment-item {
  &__author,
  &__date {
    display: inline-block;

    .light-info();
  }

  &__author {
    margin-right: 5px;

    .bold-info();
  }

  &__body {
    display: block;

    margin-top: 5px;

    .regular-text();
  }
}
