@import './common/colors';
@import './mixins/text-styles';

.comment-list {
  &__head {
    height: 50px;
    padding: 10px 0;

    border-bottom: 1px solid @gray;

    line-height: 30px;
  }

  &__title {
    letter-spacing: 1px;

    .uppercase-title();
  }

  &__item {
    padding: 15px 0;

    border-bottom: 1px dashed @gray;
  }
}
