@import './common/colors';
@import './mixins/text-styles';

.comment-form {
  &__title {
    margin: 20px 0 10px 0;
  }

  &__button {
    float: right;

    width: 35px;
    height: 35px;
    margin-left: 5px;

    cursor: pointer;
  }

  &__text {
    position: relative;
    top: -2px;

    overflow: hidden;

    box-sizing: border-box;
    width: calc(~'100% + 20px');
    padding: 19px 40px 19px 19px;

    resize: none;

    border: 1px solid @gray;
    border-radius: 4px;
    background-color: #fff;

    .regular-text();

    &:focus {
      box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    }
  }

  &__submit {
    display: block;
  }
}
