@import './common/colors';
@import './mixins/text-styles';

.comment-item {
  &__author,
  &__date {
    display: inline-block;
  }

  &__author {
    margin-right: 5px;

    .medium-text(12px, @blured-secondary-text-color);
    &:hover {
      text-decoration: underline;

      color: fade(@black, 85%);
    }
  }

  &__date {
    .light-text(12px, @blured-secondary-text-color);
  }

  &__body {
    display: block;

    margin-top: 5px;

    .regular-text(@color: @blured-main-text-color);
  }
}
