@import './mixins/text-styles';
@import './common/reset';

.content {
  position: absolute;
  z-index: 10;

  float: left;

  width: 70%;
  min-height: calc(~'100vh - 60px');
  padding: 40px 50px 120px 8vw;

  background-color: #fff;
  box-shadow: -10px 0 20px rgba(0, 0, 0, .2);

  &__sidebar {
    position: absolute;
    z-index: 1;
    right: 0;

    width: 30%;
    min-height: calc(~'100vh - 60px');
    padding: 80px 6% 120px 50px;

    background-color: #f4f4f5;

    .regular-text();
  }
}