@import './common/colors';

.translation-list {
  width: 100%;

  &__more {
    display: block;

    margin-top: 10px;

    cursor: pointer;

    color: @light-blue;
  }

  &__icon {
    position: relative;
    top: 2px;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin-right: 5px;

    transform: rotate(90deg);
  }
}
