@import './common/colors';
@import './mixins/text-styles';

@side: 40px;
@gap: 20px;

.translation-item {
  position: relative;

  margin-left: 20px;
  padding: @gap @side @gap 0;

  & + & {
    border-top: 1px solid @gray;
  }

  &__text {
    position: relative;

    width: 100%;

    .regular-text();
  }

  &__info {
    margin-top: 10px;

    color: @dark-gray;

    .light-text(12px)
  }

  &__author {
    .medium-text(12px);
    &:hover {
      text-decoration: underline;

      color: @main-text-color;
    }
  }

  &__side {
    position: absolute;
    top: @gap;
    right: 0;
    bottom: @gap;

    width: @side;
  }
}
