@import '../../common/styles/colors';

.comments-list {
  &__item {
    position: relative;

    margin-bottom: 4px;
    padding-right: 70px;
    padding-bottom: 4px;

    border-bottom: 1px solid @black;
  }

  &__item-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
