@import '../../common/styles/colors';
@import '../../common/styles/mixins/with-dropdown';
@import '../../common/fonts/roboto-regular';

.comments-list {
  
  &__head {
    height: 50px;
    padding: 10px 0;
    border-bottom: 1px solid @gray;
    line-height: 30px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    color: @dark-gray;
    letter-spacing: 1px;
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px dashed @gray;
  }

  &__user,
  &__date {
    color: @dark-gray;
    font-size: 13px;
    display: inline-block;
  }

  &__user {
    font-weight: bold;
    margin-right: 5px;

    &:hover {
      text-decoration: underline;
      color: @black;
    }
  }

  &__text {
    display: block;
    color: @black;
    margin-top: 10px;
    font-size: 13px;
  }

  &__add-comment {
    margin: 20px 0 10px 0;
  }

  &__button {
    float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &__button-send {
    background-image: url('../../common/svg/send-comment.svg');
  }

  &__button-emoji {
    background-image: url('../../common/svg/add-emoji.svg');
  }

  &__button-add {
    background-image: url('../../common/svg/add-to-comment.svg');
  }
}

.sort-comments {
  .with-dropdown();

  width: 30px;
  height: 30px;
  float: right;
  background-image: url('../../common/svg/comments-sort.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;

  &__dropdown {
    width: 160px;
    left: -65px;
    padding: 15px
  }

  &__label {
    display: block;
    height: 35px;
    line-height: 35px;
  }
}
