@import '../../common/styles/colors';

.slice-list {
  display: table;

  border-collapse: collapse;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;

    padding: 4px;

    vertical-align: top;

    border: 1px solid @black;
  }
}