@import '../../common/styles/colors';
@import '../../common/fonts/roboto-regular';

.translations-list {
  width: 100%;

  &__item {
    position: relative;
    padding: 20px 40px 20px 0;
    margin-left: 20px;

    & + & {
      border-top: 1px solid @gray;
    }
  }
}
