@import '../fonts/roboto/roboto';
@import '../common/colors';

@default-font-size: 14px;

.uppercase-title() {
  text-transform: uppercase;

  color: @dark-gray;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 27.5px;
}

.font(@size, @color, @weight) {
  color: @color;

  font-family: 'Roboto', sans-serif;
  font-size: @font-size;
  font-weight: @weight;
}

.light-text(@font-size: @default-font-size, @color: @secondary-text-color) {
  .font(@font-size, @color, 300);
}

.regular-text(@font-size: @default-font-size, @color: @main-text-color) {
  .font(@font-size, @color, 400);
}

.medium-text(@font-size: @default-font-size, @color: @secondary-text-color) {
  .font(@font-size, @color, 500);
}

.bold-text(@font-size: @default-font-size, @color: @secondary-text-color) {
  .font(@font-size, @color, 700);
}

.bold-info() {
  cursor: pointer;

  color: @dark-gray;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;

  &:hover {
    text-decoration: underline;

    color: @black;
  }
}

.light-info() {
  color: @dark-gray;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.link-color() {
  color: @light-blue;
}
